.cont{behavior:url(js/PIE.htc);-pie-background:rgba(34,34,34,0.9);}
.cont-2{behavior:url(js/PIE.htc);-pie-background:rgba(34,34,34,0.9);}
.size-9{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);height:1783px;}
.size-49{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);height:3611px;}
.size-58{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);height:1742px;}
.size-66{behavior:url(js/PIE.htc);-pie-background:linear-gradient(left top, rgb(255,255,255) 0%, rgb(230,230,230) 100%);height:1502px;}
